<p-panel header="Pipes Personalizados" class="p-2">
  <p>
    Pipes personalizados en Angular - Creados por nosotros.
  </p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button
      (click)="toggleUpperCase()"
      label="ToogleCase"
      icon="pi pi-sort"
      class="mx-2"
      styleClass="p-button-danger">
    </p-button>
  </div>

  <div class="p-toolbar-group-end">
    <p-button
      (click)="changeOrder('name')"
      label="Por nombre"
      icon="pi pi-sort"
      class="mx-2"
      styleClass="p-button-success">
    </p-button>
    <p-button
      (click)="changeOrder('canFly')"
      label="Vuela"
      icon="pi pi-sort"
      class="mx-2"
      styleClass="p-button-help">
    </p-button>
    <p-button
      (click)="changeOrder('color')"
      label="Por color"
      icon="pi pi-sort"
      class="mx-2"
      styleClass="p-button-secondary">
    </p-button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="Héroes">
      <p-table [value]="heroes | sortBy:orderBy" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Vuela</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
          <tr>
            <td>{{ hero.name | toggleCase:isUpperCase }}</td>
            <td>{{ hero.canFly | canFly | titlecase }}</td>
            <td>{{ hero.color }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>

