<p-panel header="Pipes Básicos" class="p-2">
  <p>
    Pipes incluídos en Angular - Usualmente en el CommonModule.
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{ helloLower | uppercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{ helloUpper | lowercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{ hello | titlecase }}
    </p-card>
  </div>

  <!--  DatePipe-->
  <div class="col-12 md:col-6">
    <p-card header="Date Pipe">
      <ol>
        <li>Fecha</li>
        <li>Fecha | date</li>
        <li>Fecha | date:'short'</li>
        <li>Fecha | date:'long'</li>
        <li>Fecha | date:'MMMM'</li>
        <li>Fecha | date:'MMMM dd, yyyy'</li>
      </ol>

      <hr>

      <ol>
        <li>Fecha | date:'long':'GMT-6'</li>
        <li>Fecha | date:'long':'GMT-4'</li>
        <li>Fecha | date:'long':'':'es-VE'</li>
        <li>Fecha | date:'long':'':'en-US'</li>
        <li>Fecha | date:'long':'':'fr-CA'</li>
      </ol>
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="Date Ejemplos">
      <ol>
        <li>{{ customDate }}</li>
        <li>{{ customDate | date }}</li>
        <li>{{ customDate | date:'short' }}</li>
        <li>{{ customDate | date:'long' }}</li>
        <li>{{ customDate | date:'MMMM' }}</li>
        <li>{{ customDate | date:'MMMM dd, yyyy' }}</li>
      </ol>

      <hr>

      <ol>
        <li>{{ customDate | date:'long':'GMT-6' }}</li>
        <li>{{ customDate | date:'long':'GMT-4' }}</li>
        <li>{{ customDate | date:'long':'':'es-VE' }}</li>
        <li>{{ customDate | date:'long':'':'en-US' }}</li>
        <li>{{ customDate | date:'long':'':'fr-CA' }}</li>
      </ol>
    </p-card>
  </div>


</div>
